<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>[[${title}]]!</title> 
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <link rel="stylesheet" href="/layout.css" />
    	<link rel="stylesheet" href="/style.css" />
    </head>

    <body>                        
        <script type="text/javascript" src="/controls.js"></script>
        


        <div class="navigation">
            <form th:action="@{/logout}" method="post">
Hello [[${#httpServletRequest.remoteUser}]]!

                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        
        <h1>[[${title}]]!</h1>

        <div>
            <select id="modeOptions"
                    class='modeSelect'
                    onchange="updateMode(this.value);">
                <option value="WEATHER">Weather</option>
                <option value="USER_TEXT">User Text</option>
                <option value="TIME">Time</option>
                <option value="ROTATE">Rotate</option>
            </select>
            
            <input id="userText"
                   type="text"/>
            
            <button id=textButton
                    onclick="updateMode('USER_TEXT')" >Add</button>
        </div>
        
        <div id="inventory" class="products">
            
        </div>
        
        <div id="logs" class="logs">
            
        </div>          
                
        <div th:include="fragments/footer :: footer"></div>
        

        <script> 
            window.onload = displayUserText(false);
        </script>
                
    </body>
</html>
