<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Inventory</title> 
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <link rel="stylesheet" href="/layout.css" />
    	<link rel="stylesheet" href="/style.css" />
    </head>

    <body>
                
        <h1>Welcome Here!</h1>
        
        <div class="navigation">
            <a href="/controls">Controls</a>
        </div>
        
        
        
       
        
        <div id="logs" class="logs">
            
        </div>          
    </body>
</html>

