<!DOCTYPE html>

<!--<html xmlns:th="http://www.thymeleaf.org">-->

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
        <title>SPI LED Matrix with Spring Boot</title>
        
<!--TODO: Figure out how to allow the .css files from the login page.
            I am aware of .ignoring() but I think it is not supported int his version of Spring Boot Security.
-->        
        <style>
            body
            {
                align-content: center;
                background-color: grey;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }

            .centeredDiv
            {
                margin-left: auto;
                margin-right: auto;
                margin-top: 2%;
                width: 40%;
            }
        </style>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div class="centeredDiv">
                <label> User Name: <input type="text" name="username"/> </label>
            </div>

            <div class="centeredDiv">
                <label> Password: <input type="password" name="password"/> </label>
            </div>

            <div class="centeredDiv">
                <input type="submit" value="Sign In"/>
            </div>
        </form>
    </body>
</html>
