
body
{
    margin-left: auto;
    margin-right: auto;
    
    width: 90%;
}

div.navigation
{
    height: 2em; 
    font-size: 2em;
}

div.saveMessages
{
    color: green;
    font-size: 2em;
}

input.settingsSaveButton
{
    font-size: 2em;
}
