
#**/*-proposed-baseline.png

# eclipse IDE configuration fies
**/.classpath
**/.directory
**/.project
**/.settings

**/*.gcode

/haptic-motor-controller/datasheet-waveform-list-parser/target/
/haptic-motor-controller/desktop-haptic-controller/target/

/rpi-rgb-led-matrix-webapp/target/
/fiesta-medals/target/
