
div.featuredProject
{
        background: lightgray;
        border-color: orange;        
}

div.menu 
{
    background: lightgray;
    border-color:orange;
    
}

div.menu a 
{
    border-color: orange;    
    color: black;    
    font-weight: bold;          
    text-decoration: none;
}

div.menu a:link
{
    background: wheat;
}

div.menu a:visited 
{
    background: wheat;
}

div.menu a:hover 
{
    background: orange;
}