
div.featuredProject
{
        border-style: solid;
        border-radius: 25px;
        border-width: 2px;
        
        display: block;	

        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
    
        padding-bottom: 2%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 1%;
        
        width: 90%;  
}

div.featuredProject p
{
    border-style: none;
}

div.menu 
{
    border: 3px solid;
    border-radius: 25px;
    
    display: block;    
    
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    
    padding-bottom: 1%;
/*    
    padding-left: 3%;
    padding-right: 3%;
*/        
    width: 95%;
}

div.menu a 
{
    border-width: 2px;
    border-radius: 25px;
    border-style: solid;
    display: block;	
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    text-align: left;
    text-indent: 2%;
    width: 100%;
}

div.menu a:hover 
{
    letter-spacing: 2px;
}

div.menu h3 
{
    font-size: large;
    text-align: left;
    padding: 5px;
    margin: 0px;
}

.uploadButton
{
    margin-left: 50%;
}